<div id="wrapper">
    <app-menus [menus]='menus'></app-menus>
    <div id="page-wrapper" class="gray-bg">
        <app-user-card></app-user-card>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox-content m-b-sm border-bottom">
                        <div class="row">
                            <form>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label" for="product_name">名称</label>
                                        <input type="text" name="Name" [(ngModel)]="Name" maxlength="20" placeholder="名称" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label" for="price">分类</label>
                                        <select name="curCategoryId" class="form-control" [(ngModel)]="curCategoryId" (change)="categoryChange()">
                                            <option *ngFor="let category of categoryList" [value]="category.id">{{category.categoriesName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label" for="status">状态</label>
                                        <select name="curSaleStatus" [(ngModel)]="curSaleStatus" (change)="saleChange()" class="form-control">
                                            <option value="" selected="">全部</option>
                                            <option value="onSale" selected="">在售</option>
                                            <option value="unSale">停售</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="ibox float-e-margins">
                        <div class="ibox-title"> 商品列表 </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-sm-9 m-b-xs">
                                    <a class="btn btn-primary btn-sm" href="add-product.html">新增商品</a>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>编号</th>
                                            <th>名称</th>
                                            <th>分类</th>
                                            <th>进货价 </th>
                                            <th>建议售价 </th>
                                            <th>最低售价 </th>
                                            <th>一级分销价 </th>
                                            <th>二级分销价 </th>
                                            <th>三级分销价 </th>
                                            <th>库存 </th>
                                            <th>状态 </th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let p of page;let i = index">
                                            <td> {{i + 1}} </td>
                                            <td>
                                                <img src="img/gallery/2s.jpg" class="img-lg"> 洗发水 </td>
                                            <td> {{p.id}} </td>
                                            <td> ￥10.00 </td>
                                            <td> ￥50.00 </td>
                                            <td> ￥50.00 </td>
                                            <td> ￥30.00 </td>
                                            <td> ￥35.00 </td>
                                            <td> ￥40.00 </td>
                                            <td>100 </td>
                                            <td>
                                                <span class="label label-primary">在售</span>
                                            </td>
                                            <td>
                                                <button class="btn-white btn btn-sm">查看</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <app-page [pageParams]="{pageSize:pageSize,totalNum:totalNum,curPage:pageSize/pageData,totalPage:totalPage,pageData:pageData}" (changeCurPage)="getPageData($event)"></app-page>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>