<div id="wrapper">
    <app-menus [menus]='menus'></app-menus>
    <div id="page-wrapper" class="gray-bg">
        <app-user-card></app-user-card>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li class="active" (click)="topTabChange('base')"><a data-toggle="tab" href="#tab-1"> 基础信息</a></li>
                            <li class="" (click)="topTabChange('pwd-update')"><a data-toggle="tab" href="#tab-2"> 修改密码</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body">
                                    <form class="form-horizontal" #form="ngForm">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">姓名*</label>
                                            <div class="col-sm-10">
                                                <input name="userName" [(ngModel)]="baseInfo.userName" maxlength="8" type="text" class="form-control" placeholder="请输入姓名">
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">手机号*</label>
                                            <div class="col-sm-10">
                                                <input name="mobile" [(ngModel)]="baseInfo.mobile" maxlength="11" type="text" class="form-control" placeholder="请输入手机号">
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">微信</label>
                                            <div class="col-sm-10">
                                                <input name="webchat" [(ngModel)]="baseInfo.webchat" maxlength="20" type="text" class="form-control" placeholder="输入微信后方便供应商与分销商之间转账（非必填）">
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">支付宝</label>
                                            <div class="col-sm-10">
                                                <input name="alipay" [(ngModel)]="baseInfo.alipay" maxlength="20" type="text" class="form-control" placeholder="输入支付宝后方便供应商与分销商之间转账（非必填）">
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                            <div class="col-sm-4 col-sm-offset-2">
                                                <button (click)="baseInfoUpdate(form.value)" class="btn btn-primary" type="button">保存修改</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div id="tab-2" class="tab-pane">
                                <div class="panel-body">
                                    <form class="form-horizontal" #pwd="ngForm">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">原密码*</label>
                                            <div class="col-sm-10">
                                                <input [(ngModel)]="password.oldPwd" name="oldPwd" maxlength="20" type="password" class="form-control" placeholder="原密码">
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">新密码*</label>
                                            <div class="col-sm-10">
                                                <input [(ngModel)]="password.newPwd" name="newPwd" maxlength="20" type="password" class="form-control" placeholder="新密码">
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">再次输入*</label>
                                            <div class="col-sm-10">
                                                <input [(ngModel)]="password.repPwd" name="repPwd" maxlength="20" type="password" class="form-control" placeholder="再次输入">
                                            </div>
                                        </div>

                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                            <div class="col-sm-4 col-sm-offset-2">
                                                <button (click)="passworUpdate(pwd.value)" class="btn btn-primary" type="button">保存修改</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>