<div id="wrapper">
    <app-menus [menus]='menus'></app-menus>
    <div id="page-wrapper" class="gray-bg">
        <app-user-card></app-user-card>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox-content m-b-sm border-bottom">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label" for="date_added">分销商等级</label>
                                    <select class="form-control">
                                        <option>全部</option>
                                        <option>特级</option>
                                        <option>一级</option>
                                        <option>二级</option>
                                        <option>三级</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label" for="date_added">分销商</label>
                                    <input type="text" value="" placeholder="分销商姓名/电话" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-4">

                            </div>
                        </div>

                    </div>
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            分销商列表
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-sm-9 m-b-xs">
                                    <div class="btn btn-primary btn-sm" data-toggle="modal" href="#distroibutor-add">新增分销商</div>
                                </div>

                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>等级</th>
                                            <th>姓名 </th>
                                            <th>电话 </th>
                                            <th>支付宝 </th>
                                            <th>微信 </th>
                                            <th>订单数 </th>
                                            <th>总支付金额 </th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>一级分销商</td>
                                            <td>王杰</td>
                                            <td>15242612898</td>
                                            <td>15242612898</td>
                                            <td>wj2252621</td>
                                            <td>20</td>
                                            <td>￥3200</td>
                                            <td>
                                                <div class="btn btn-sm btn-default" data-toggle="modal" href="#modal-send">历史订单</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>二级分销商</td>
                                            <td>张雨濛</td>
                                            <td>13238078321</td>
                                            <td>13238078321</td>
                                            <td>zhangyumeng</td>
                                            <td>10</td>
                                            <td>￥1000</td>
                                            <td>
                                                <div class="btn btn-sm btn-default" data-toggle="modal" href="#modal-send">历史订单</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>